#pie_charts
  #count_charts.col-md-4
  #area_charts.col-md-4
  #money_charts.col-md-4

%hr

:javascript
  var hushu_sold = #{current_app.hushu_sold};
  var hushu_remain = #{current_app.remain_hushu};
  var mianji_sold = #{current_app.mianji_sold};
  var mianji_remain = #{current_app.remain_mianji};
  var money_sold = #{current_app.money_sold};
  var money_remain = #{current_app.remain_jine};

