.dashbord-left.col-md-11
  = render :partial => "dashboard_nav"
  .clearfix
  %hr

  .dashbord-display
    .dashbord-statistics.col-md-3
      %ul.list-group
        %li.list-group-item.disabled
          统计

        %li.list-group-item
          本日小定
          %span.pull-right
            %strong= current_log.try(:xiaoding) || 0
            万元
        %li.list-group-item
          %span.badge= current_log.try(:tuiding) || 0 
          本日退订
        %li.list-group-item
          %span.badge= current_log.try(:qianyue) || 0
          本日签约
        %li.list-group-item
          %span.badge= current_log.try(:qianyue_mianji) || 0
          签约面积
        %li.list-group-item
          %span.badge= current_log.try(:qianyue_jine) || 0 
          签约金额
        %li.list-group-item
          %span.badge= current_app.hushu 
          总售户数
        %li.list-group-item
          %span.badge= current_app.mianji
          总售面积
        %li.list-group-item
          %span.badge= current_app.junjia
          预计均价
        %li.list-group-item
          %span.badge= current_app.zongjia.in_human_readable_money
          总销售额 

    .dashbord-charts.panel.panel-default.col-md-9
      .panel-body
        .dashbord-charts-header
          %h4 日报 2014年7月7日  晴35'C
          %hr

        .dashbord-charts-data
          = render :partial => "dashboard_data"
          %hr

        .dashbord-charts-pie
          = render :partial => "dashboard_pie_charts"
          %hr


        .dashbord-charts-stack
          = render :partial => "dashboard_stacked_charts"
          %hr

.dashbord-right.col-md-1
