.dashbord-left.col-md-11
  = render :partial => "dashboard/dashboard_nav"
  .clearfix
  %hr
  .row
    .col-md-6.setting_form.text-center
      = form_tag messages_path, :role => "form"  do |f|
        %dl.dl-horizontal
          %dt 短信内容:
          %dd= text_area_tag "message[content]", current_log.try(:message_content), :placeholder => "短信内容", :class => "form-control"
  
        %dl.dl-horizontal
          %dt 接收人(用，分割):
          %dd= text_area_tag "message[mobile_num]", current_app.messages.last.try(:mobile_num), :placeholder => "电话号码", :class => "form-control"
  
        %hr
        = submit_tag "发送短信息", :class => "btn btn-success btn-lg btn_submit", :id => "submit_btn"

