!!!
%html
  %head
    %title= Setting.title
    %meta{:name => "description", :content => Setting.description}
    %meta{:name => "keywords", :content => Setting.keywords}

    = stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span.sr-only
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.navbar-brand{:href => "#"}= Setting.site_name
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} 首页

            %li
              %a{:href => "/tour"} 功能

            %li
              %a{:href => "/plan"} 付费


          %ul.nav.navbar-nav.navbar-right
            %li.divider-vertical.hidden-xs
            %li
              %a{:href => "/signin"} 登陆
            %li
              %a{:href => "/signup"} 注册

    = yield

    #footer
      .container-fluid
        .row
          .col-md-3.text-center
            %h4.blod 产品
            %ul.list-unstyled
              %li
                %a 功能特性
              %li
                %a 数据安全
              %li
                %a 付费方案
              %li
                %a 移动版本
          .col-md-3.text-center
            %h4 媒体
            %ul.list-unstyled
              %li
                %a 功能特性
              %li
                %a 功能特性
              %li
                %a 功能特性
              %li
                %a 功能特性
              %li
                %a 功能特性
              %li
                %a 功能特性
          .col-md-3.text-center
            %h4 支持
            %ul.list-unstyled
              %li
                %a 功能特性
              %li
                %a 功能特性
              %li
                %a 功能特性
              %li
                %a 功能特性
          .col-md-3.text-center
            %h4 更多
            %ul.list-unstyled
              %li
                %a 功能特性
              %li
                %a 功能特性
              %li
                %a 功能特性
              %li
                %a 功能特性

        .row
          .col-md-6.col-md-offset-3
            %span.center-block © 2014 worktile.com   京ICP备13017353号-3   京公网安备11010802012357号



