!!!
%html
  %head
    %title= Setting.title
    = stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.restricted
    .main-content
      .container-fluid
        = render :partial => "widgets/restricted_header"

      .container-fluid
        .row
          .col-md-2
            = render :partial => "widgets/restricted_sidebar"

          .col-md-10.restricted-content
            = yield



